<h1>Listing questaos</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Descricao</th>
    <th>Tipo</th>
  </tr>

<% @questaos.each do |questao| %>
  <tr>
    <td><%=h questao.titulo %></td>
    <td><%=h questao.descricao %></td>
    <td><%=h questao.tipo %></td>
    <td><%= link_to 'Show', questao %></td>
    <td><%= link_to 'Edit', edit_questao_path(questao) %></td>
    <td><%= link_to 'Destroy', questao, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New questao', new_questao_path %>