<div style="width: 450px">
  <div class="ui-widget-header" style="padding-left: 10px;">
    <h1>Nova questão</h1>
  </div>
	
  <% form_for(@questao) do |f| %>
  <div class="ui-widget-content" style="padding-left: 10px;">    
      <p>Titulo da questão</p>
      <p><%= f.text_field :titulo, :size => 65 %></p>
      <br />
      <p>Descri&ccedil;ão</p>
      <p><%= f.text_area :descricao, :cols => 50, :rows => 5, :style => "overflow-y: scroll" %></p>
      <br />
      <div style="background-color: #e5e9f4; padding: 10px; margin-right: 10px;">
        <p>Tipo da questão</p>
        <%= f.radio_button :tipo, "0", :id => "radio_obj" %>Objetiva<br/>
        <%= f.radio_button :tipo, "1", :id => "radio_rel" %>Relacione as colunas<br />
        <%= f.radio_button :tipo, "2", :id => "radio_lac" %>Complete as lacunas<br />
      </div>
      <br />
	  <% if @questao.id %>
	  	<%= f.submit "Salvar", :class => "ui-botao" %>      	
	  <% else %>
	  	<%= f.submit "Cadastrar", :class => "ui-botao" %>
	  <% end %>
      <%=  link_to 'Voltar', {:controller => :questao, :action => :index}, :class => "ui-botao" %>
      <br />
      <br />
	</div>
  <% end %>		  
  
<div class="ui-widget-content" style="width: 438px; padding-left: 10px; z-index:9999;">
	<% if @questao.id %>
	    <div id="div_obj" style="padding-top:30px">
	      <div id="lista_obj">
	      	<%= render :partial => "questao_objetiva", :locals => { :alternativas => @alternativas }  %>
	      </div>
	      <p> Adicionar Alternativa</p>
	      <br />
	      <% form_remote_for :alternativa,  :url => { :action => :addquestaoobjetiva },  :update => 'lista_obj' do |a| %>      	
			<%= a.text_field "descricao" %>      
	      	<%= a.hidden_field "questao_id", :value => @questao.id %>
	        <%= a.submit 'Adicionar' %>
	      <% end %>	      
	    </div>
	
	      <div id="div_rel">
			<div id="lista_col" style="padding-top:30px">
				<%= render :partial => "questao_colunas", :locals => {:colunas => @colunas} %>
			</div>
			<% form_remote_for :coluna, :url => { :action => :addalternativaprincipal }, :update => 'lista_col' do |b| %>
				<br />
				<p> Alternativa Principal</p>
				<%= b.text_field "principal" %>
				<%= b.hidden_field "questao_id", :value => @questao.id %>
				<br />
				<p> Alternativa Relacionada</p>
				<%= b.text_field "relacionada" %>
				<br />
				<%=b.submit 'Adicionar' %>
			<%end%>
	      </div>
	
	      <div id="div_lac">
	        Lacunas
	      </div>
	<% else %>
		<div><p>Salve a questão para adicionar novas alternativas.</p></div>
	<% end %>
    </div>	
</div>



<script>	
    $("#div_obj").hide();
    $("#div_rel").hide();
    $("#div_lac").hide();
    
    $("#nova_alternativa").click(
      function () {
          $.post("<%= url_for(:controller => :questao_alternativa, :action => :add) %>",
          {questao_id: "2", descricao: "sdff"},
          function(data) {           
            
          });
      }

    );

</script>
<% if @questao.tipo == 0%>
<script>$("#div_obj").fadeIn("slow");</script>
<% end %> 

<% if @questao.tipo == 1 %>
<script>$("#div_rel").fadeIn("slow");</script>
<% end %>

<% if @questao.tipo == 2 %>
<script>$("#div_lac").fadeIn("slow");</script>
<% end %>