<p>
  <b>Titulo:</b>
  <%=h @questao.titulo %>
</p>

<p>
  <b>Descricao:</b>
  <%=h @questao.descricao %>
</p>

<p>
  <b>Tipo:</b>
  <%=h @questao.tipo %>
</p>


<%= link_to 'Edit', edit_questao_path(@questao) %> |
<%= link_to 'Back', questaos_path %>