<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>SEK - Sistema</title>
		<%= javascript_include_tag :all %>
		<%= stylesheet_link_tag :all %>
		<%= yield :head %>
	</head>
	<body>
		<div id="corpo">
			<div id="cabecalho">
				<ul class="sf-menu"> 
					<li class="current">
                                             <%= link_to "Início", :controller => :home %>
					</li>
					<li> 
						<a href="#">Área do Professor</a> 
						<ul> 
							<li> 
								<a href="#">Programas</a> 
							</li> 
							<li> 
								<a href="#">Relatórios</a> 
								<ul> 
									<li><a href="#">Alunos</a></li> 
									<li><a href="#">Provas</a></li> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
								</ul> 
							</li> 
							<li> 
								<a href="#">menu item</a> 
								<ul> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
								</ul> 
							</li> 
							<li> 
								<a href="#">menu item</a> 
								<ul> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
								</ul> 
							</li> 
							<li> 
								<a href="#">menu item</a> 
								<ul> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
								</ul> 
							</li> 
						</ul> 
					</li>
					<li> 
						<a href="#">Área do Aluno</a> 
						<ul> 
							<li> 
								<a href="#">Programas</a> 
							</li> 
							<li> 
								<a href="#">Relatórios</a> 
								<ul> 
									<li><a href="#">Alunos</a></li> 
									<li><a href="#">Provas</a></li> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
								</ul> 
							</li> 
							<li> 
								<a href="#">menu item</a> 
								<ul> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
								</ul> 
							</li> 
							<li> 
								<a href="#">menu item</a> 
								<ul> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
								</ul> 
							</li> 
							<li> 
								<a href="#">menu item</a> 
								<ul> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
									<li><a href="#">menu item</a></li> 
								</ul> 
							</li> 
						</ul> 				
					</li>
				</ul> 				
			</div>
			<br />
			<div id="contexto">

                        <% if flash[:error] %>
                            <div class="ui-widget">
                              <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
                                <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                                <strong>Erro:</strong> <%= flash[:error] %></p>                                
                              </div>
                              <br/>
                            </div>
                        <% end %>

			<%= yield %>
			</div>
			<div id="rodape">
				SEK Sistemas 2011 - Todos os direitos reservados
			</div>
		</div>	
	</body>
</html>

<script>
    jQuery(function(){
            jQuery('ul.sf-menu').superfish();
    });
    $( "input:submit, button, .ui-botao").button();
</script>